.chart {
        /*background: #F0F0F0;*/
    }
    .chart svg {
        height: 300px;
        width: 100%;
        }
        .chart svg text {
            font-family: "Open Sans", sans-serif;
        }
        .chart svg .title {
            font-weight: bold;
        }
    .two-charts svg {
        float: left;
        width: 50%;
    }
